{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    - {{ object.subject }} by {{ object.user|default_if_none:"Anon" }} at
    {{ object.datetime|date }}
{% endblock %}

{% block main %}

    <div class="revelation-main">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">

                    <h1 class="text-center">Wait for it!</h1>

                    <h3 class="text-center">The content of this message won't be
                        revealed until {{ object.datetime|date }}</h3>

                    <br>

                    <h4 class="text-center">{{ object.subject }}</h4>

                    <br>

                    <h2 class="text-center" id="clock"></h2>

                    <br>
                    <br>

                    <div class="text-center">
                        {% include 'social/share.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/moment-timezone-with-data.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>

    <script type="text/javascript">
        var $clock = $('#clock');
        var revelation = moment.tz("{{ object.datetime|date:'c' }}",
                "America/Chicago");

        $clock.countdown(revelation.toDate(), function (event) {
            $(this).html(event.strftime('%-Y year%!Y %-w week%!w  %-d day%!d %H:%M:%S'));
        }).on('finish.countdown', function (event) {
            if (event.elapsed) {
                location.reload();
            }
        });
    </script>

{% endblock %}
