{% load widget_tweaks %}
{% load field_type %}

{% for field in form %}
    {% if not field.is_hidden %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% if field|field_type == "CheckboxInput" %}

                <div class="checkbox">
                    <label for={{ field.auto_id }}>{{ field }}
                        <strong>{{ field.label }}</strong>
                    </label>
                </div>

            {% else %}
                <label class="control-label" for={{ field.auto_id }}>
                    {{ field.label }}{% if field.field.required %}*{% endif %}
                </label>
                {{ field|add_class:"form-control" }}
            {% endif %}

            {% if field.errors %}
                <span class="help-block m-b-none">
                        {{ field.errors.0 }}
                    </span>
            {% endif %}

        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}
